@{
    ViewData["titulek"] = "Přihlášení";
}

<form>
    <input type="text" name="username" placeholder="Uživatelské jméno..." />
    <br />
    <input type="password" name="password" placeholder="Heslo..." />
    <br />
    <input type="submit" value="Přihlásit" />
</form>
