@{
    ViewData["titulek"] = "Přihlášení";
}

<h2>Přihlášení</h2>

<form method="post">
    <input name="username" placeholder="Uživatelské jméno" />
    <input name="password" type="password" placeholder="Heslo" />
    <button type="submit">Přihlásit</button>
</form>

<p style="color:red;">@ViewBag.Error</p>