@{
    ViewData["Title"] = "Profil";
}

<div class="mt-5">
    <h1>Profil</h1>
    <p>Vítej <strong>@Context.Session.GetString("User")</strong></p>
    <p>Jste přihlášeni jako: <strong>@Context.Session.GetString("User")</strong></p>
    <a class="btn btn-danger mt-3" asp-controller="User" asp-action="Logout">Odhlásit se</a>
</div>