@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <link rel="stylesheet" href="style.css">
    <div class="container">
        <h1>Kontaktujte nás</h1>
        <form action="submit_form.php" method="post">
            <label for="name">Jméno:</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="message">Zpráva:</label><br>
            <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>

            <input type="submit" value="Odeslat">
        </form>

</html>
