@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="cs">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt - Projekt 3</title>
    <link rel="stylesheet" href="style.css">
    <div class="container">
        <h1>Kontaktujte nás</h1>
        <form action="submit_form.php" method="post">
            <label for="name">Jméno:</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="message">Zpráva:</label><br>
            <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>

            <input type="submit" value="Odeslat">
        </form>

        <div class="center">
            <a href="omne.html" class="btn-primary">O mně</a>
        </div>

        <div class="center">
            <a href="index.html" class="btn-primary">Domů</a>
        </div>
</html>
