@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="cs">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt - Projekt 3</title>
    <link rel="stylesheet" href="style.css">
    <div class="center">
        <a href="kontakt.html" class="btn-primary">Kontaktujte nás</a>
    </div>

    <div class="center">
        <a href="index.html" class="btn-primary">Domů</a>
    </div>
    <div class="container">
        <h1>O mně</h1>
        <h2>Franta Nemecek</h2>
        <h4>Jsem webový vývojář se zájmem o moderní technologie a design. Rád tvořím uživatelsky přívětivé a funkční webové stránky.</h4>
        <h5>
            <div>
